<h1 class="header">Enter a word you'd like counted in a sentence!</h1>
<form action='/results'>
  <div class="form-group">
    <label for="word">Enter a word!</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sentence">Enter a sentence!</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn">Go!</button>
</form>
