<!DOCTYPE html>
<html>
<head>
  <title>SAY WHAAAAT</title>
  <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div class="container">
    <%= yield %>
  </div>
</body>
</html>
